html {
    font-size: 14px;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.same-height {
    height: 30rem;

}

.same-width {
    width: 52rem; /* Puedes ajustar el valor según tus necesidades */
}


.tituloInicio {
    font-family: "Arial", sans-serif; /* Cambia la fuente a tu elección */
    font-size: 2.5rem; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: #333; /* Cambia el color del texto a tu elección */
    text-align: center; /* Centra el texto horizontalmente */
    text-transform: uppercase; /* Convierte el texto en mayúsculas si lo deseas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave alrededor del título */
    background-color: rgba(255, 255, 255, 0.8); /* Agrega un fondo blanco suave al título */
    
}


.card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-hover:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la carta en un 5% */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra ligera a la carta */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave */
}


.fondoImg {
    background-image: url('../Images/fondo.jpg'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo al desplazarse */
}

button.card-link {
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina el relleno del botón si es necesario */
}

.col-md-6 {
    margin-bottom: 3rem; /* Agrega espacio entre las columnas en pantallas más pequeñas */
}


.contenedorInicioSesion {

    background-color: #f8f9fa;
    margin-top: 4rem;
    padding: 3rem;
    max-width: 55rem; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
    margin-top: 50px; /* Ajusta el margen superior según tus necesidades */
    box-shadow: 15px 15px 10px #808080; /* Sombra ligera */
    border-radius: 8rem; /* Esquinas redondeadas */

   
}