@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}

@* <div class="container"> *@
<main role="main" class="pb-3 d-flex align-items-center justify-content-center">
    <input id="nombreVista" type="hidden" value="@ViewBag.VistaActual" />
    <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />

    <div class="container mt-3">

        @*         <form id="formPaginaInicioOferente" method="post">
        <input id="identification" name="identification" type="hidden" value="@ViewBag.identificacion" />
        <input id="clave" name="clave" type="hidden" value="@ViewBag.clave" /> *@


        <div class="row mt-3">
            <!-- Sección de Expediente -->
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white cartas-header">
                        EXPEDIENTE
                    </div>
                    <div class="card-body cartas-cuerpo">
                        <!-- Contenido de la sección de expediente -->
                        <div class="row">
                            <button id="btnExpedienteDP" class="btn btn-outline-dark">Expediente Personal</button>
                        </div>

                        <div class="row mt-1">
                            <button id="btnExpedienteTitulos" class="btn btn-outline-dark">Expediente Academico</button>
                        </div>

                        <div class="row mt-1">
                            <button id="btnExpedienteReferencias" class="btn btn-outline-dark">Perfil Laboral</button>
                        </div>

                        <div class="row mt-1">
                            <button id="btnExpedienteExpe" class="btn btn-outline-dark">Experiencia laboral</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sección de Postulaciones -->
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white cartas-header">
                        POSTULACIONES
                    </div>
                    <div class="card-body cartas-cuerpo">
                        <!-- Contenido de la sección de expediente -->
                        <div class="row">
                            <button id="btnBuscarVacantes" class="btn btn-outline-dark" type="button">Buscar vacantes</button>
                        </div>

                        <div class="row mt-1">
                            <button id="btnCrearOferta" class="btn btn-outline-dark" type="button">Crear Oferta</button>
                        </div>

                        <div class="row mt-1">
                            <button id="" class="btn btn-outline-dark" type="button">Ver mis Ofertas</button>
                        </div>

                        <div class="row mt-1">
                            <button id="" class="btn btn-outline-dark" type="button">Ver Vacantes Aplicadas</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sección de Comunicación -->
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white cartas-header">
                        COMUNICACIÓN
                    </div>
                    <div class="card-body cartas-cuerpo">
                        <!-- Contenido de la sección de expediente -->
                        <div class="row">
                            <button id="" class="btn btn-outline-dark" type="button">Abrir Mensajería</button>
                        </div>

                        <div class="row mt-1">
                            <button id="" class="btn btn-outline-dark" type="button">Soporte</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sección de Cuenta -->
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white cartas-header">
                        CUENTA
                    </div>
                    <div class="card-body cartas-cuerpo">
                        <!-- Contenido de la sección de expediente -->
                        <div class="row">
                            <button id="" class="btn btn-outline-dark" type="button">Cambiar Contraseña</button>
                        </div>

                        <div class="row mt-1">
                            <button id="" class="btn btn-outline-dark" type="button">Inactivar Cuenta</button>
                        </div>

                        <div class="row mt-1">
                            <button id="" class="btn btn-outline-dark" type="button">Cerrar Sesión</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*  </form> *@
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalActivacion" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modalInactivacionLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactivacionLabel">Cuenta Inactivada</h5>

                </div>
                <div class="modal-body">
                    <p>Su cuenta se encuentra inactivada. ¿Deseas activarla?</p>
                </div>
                <div class="modal-footer">
                    <button id="btnActivarCuenta" type="button" class="btn btn-success" data-dismiss="modal">Si</button>
                    <button id="btnNoActivarCuenta" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>

</main>
@* </div> *@