@{
    Layout = "~/Views/Shared/LayoutOferente.cshtml";
}

@* <div class="container"> *@
    <main role="main" class="pb-3 d-flex align-items-center justify-content-center">

        <div class="container mt-3">

            <form method="post" asp-controller="" asp-action="">
                <div class="row mt-3">
                    <!-- Sección de Expediente -->
                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-header text-center bg-dark text-white cartas-header">
                                EXPEDIENTE
                            </div>
                            <div class="card-body cartas-cuerpo">
                                <!-- Contenido de la sección de expediente -->
                                <div class="row">
                                    <button id="" class="btn btn-outline-dark" type="button">Datos Personales</button>
                                </div>

                                <div class="row mt-1">
                                    <button id="" class="btn btn-outline-dark" type="button">Referencias</button>
                                </div>

                                <div class="row mt-1">
                                    <button id="" class="btn btn-outline-dark" type="button">Titulos</button>
                                </div>

                                <div class="row mt-1">
                                    <button id="" class="btn btn-outline-dark" type="button">Experiencia laboral</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Sección de Postulaciones -->
                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-header text-center bg-dark text-white cartas-header">
                                POSTULACIONES
                            </div>
                            <div class="card-body cartas-cuerpo">
                                <!-- Contenido de la sección de expediente -->
                                <div class="row">
                                    <button id="" class="btn btn-outline-dark" type="button">Ver vacantes</button>
                                </div>

                                <div class="row mt-1">
                                    <button id="" class="btn btn-outline-dark" type="button">Vacantes aplicadas</button>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- Sección de Comunicación -->
                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-header text-center bg-dark text-white cartas-header">
                                COMUNICACIÓN
                            </div>
                            <div class="card-body cartas-cuerpo">
                                <!-- Contenido de la sección de expediente -->
                                <div class="row">
                                    <button id="" class="btn btn-outline-dark" type="button">Abrir Mensajería</button>
                                </div>

                                <div class="row mt-1">
                                    <button id="" class="btn btn-outline-dark" type="button">Soporte</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Sección de Cuenta -->
                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-header text-center bg-dark text-white cartas-header">
                                CUENTA
                            </div>
                            <div class="card-body cartas-cuerpo">
                                <!-- Contenido de la sección de expediente -->
                                <div class="row">
                                    <button id="" class="btn btn-outline-dark" type="button">Cambiar Contraseña</button>
                                </div>

                                <div class="row mt-1">
                                    <button id="" class="btn btn-outline-dark" type="button">Inactivar Cuenta</button>
                                </div>

                                <div class="row mt-1">
                                    <button id="" class="btn btn-outline-dark" type="button">Cerrar Sesión</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
             </form>
        </div>


    </main>
@* </div> *@