@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Confirmar Codigo"] - AplicacionRHGit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AplicacionRHGit.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-"
          crossorigin="anonymous">


</head>
<body class="fondoImg">




    <div class="container">
        <div class="contenedorInicioSesion">
            <div class="d-flex flex-column align-items-center">
                <h2 id="seccionInicioSesion">Confirmación de Registro</h2>

                <input id="identificacion" type="hidden" value="@ViewBag.id" />

                <div class="form-group col-md-12 mt-2">
                    <label for="codigo">Ingresé en esta pantalla el pin de activación enviado por SMS al celular registrado</label>
                    <div class="input-group">
                        <input type="text" id="codigo" class="form-control mt-2" placeholder="Código de Activación" />

                    </div>
                </div>

                <button id="validarCodigo" class="btn btn-success mt-2">Validar Código</button>

               

            </div>
        </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask/dist/jquery.inputmask.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/login/login.js"></script>




</body>
</html>

















