@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Creación de Perfil"] - AplicacionRHGit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AplicacionRHGit.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-"
          crossorigin="anonymous">


</head>
<body class="fondoImg">

    <div class="container">
        <div class="contenedorInicioSesion">
            <div class="d-flex flex-column align-items-center">
                <h2 id="seccionInicioSesion">Registrarse como @TempData["Usuario"]</h2>

                <form id="registroForm" class="">
                    <div class="form-group col-md-12 mt-2">
                        <label for="identificationType">Tipo de Identificación</label>
                        <select id="identificationType" class="form-control">
                            <option value="null">Seleccione una opción</option>
                            <option value="Cedula">Cédula de Identidad</option>
                            <option value="Dinex">DINEX</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 mt-2">
                        <label for="identification">Identificación</label>
                        <div class="input-group">
                            <input type="text" id="identification" class="form-control" disabled />

                            <span class="input-group-text"><i class="fas fa-id-card"></i></span>

                        </div>

                        <button id="btnVerificarCedula" class="btn btn-primary mt-2">Verificar cédula</button>

                    </div>

                    <div id="campoNombre" class="form-group col-md-12 mt-2">
                        <label for="nombre">Nombre</label>
                        <div class="input-group">
                            <input type="text" id="nombre" class="form-control" disabled />

                        </div>
                    </div>

                    <div id="campoApellidos" class="form-group col-md-12 mt-2">
                        <label for="apellidos">Apellidos</label>
                        <div class="input-group">
                            <input type="text" id="apellidos" class="form-control" disabled />

                        </div>
                    </div>

                    <div id="campoNacimiento" class="form-group col-md-12 mt-2">
                        <label for="nacimiento">Fecha Nacimiento</label>
                        <div class="input-group">
                            <input type="text" id="nacimiento" class="form-control" disabled />

                        </div>
                    </div>

                    <div id="campoCorreo" class="form-group col-md-12 mt-2">
                        <label for="correo">Correo Electrónico</label>
                        <div class="input-group">
                            <input type="email" id="correo" class="form-control" placeholder="abc@gmail.com" />

                        </div>
                    </div>

                    <div id="campoTelefono" class="form-group col-md-12 mt-2">
                        <label for="telefono">Teléfono</label>
                        <div class="input-group">
                            <input type="text" id="telefono" class="form-control" placeholder="8888-8888" />

                        </div>
                    </div>

                    <div id="campoProvincia" class="form-group col-md-12 mt-2">
                        <label for="provincias">Seleccione una provincia</label>

                        <select id="provincias" class="form-control mt-2">
                            <option value="null">Seleccione una opción</option>
                        </select>
                    </div>


                    <div id="campoCantones" class="form-group col-md-12 mt-2">
                        <label for="cantones">Seleccione un cantón</label>

                        <select id="cantones" class="form-control mt-2">
                            <option value="null">Seleccione una opción</option>

                        </select>
                    </div>


                    <div id="campoDistritos" class="form-group col-md-12 mt-2">
                        <label for="distritos">Seleccione un Distrito</label>

                        <select id="distritos" class="form-control mt-2">
                            <option value="null">Seleccione una opción</option>

                        </select>
                    </div>

                    <div id="campoDireccion" class="form-group col-md-12 mt-2">
                        <label for="direccion">Dirección Exacta</label>
                        <div class="input-group">
                            <input type="text" id="direccion" class="form-control" placeholder="Ingrese la dirección" />
                        </div>
                    </div>

                    <button id="btnCrearUsuario" class="btn btn-primary mt-2">Crear</button>







                </form>

            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionModalLabel">Confirmación de cuenta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Se ha enviado un correo de confirmación. Por favor, verifica tu correo electrónico y sigue las instrucciones para activar tu cuenta.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask/dist/jquery.inputmask.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/login/login.js"></script>


    

</body>
</html>

















