html {
    font-size: 14px;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.same-height {
    height: 30rem;
}

.same-width {
    width: 52rem; /* Puedes ajustar el valor según tus necesidades */
}


.tituloInicio {
    font-family: "Arial", sans-serif; /* Cambia la fuente a tu elección */
    font-size: 2.5rem; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: #333; /* Cambia el color del texto a tu elección */
    text-align: center; /* Centra el texto horizontalmente */
    text-transform: uppercase; /* Convierte el texto en mayúsculas si lo deseas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave alrededor del título */
    background-color: rgba(255, 255, 255, 0.8); /* Agrega un fondo blanco suave al título */
}


.card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-hover:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la carta en un 5% */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra ligera a la carta */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave */
}


.fondoImg {
    background-image: url('../Images/fondo.jpg'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo al desplazarse */
}

button.card-link {
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina el relleno del botón si es necesario */
}

.col-md-6 {
    margin-bottom: 3rem; /* Agrega espacio entre las columnas en pantallas más pequeñas */
}



.contenedorInicioSesion {
    background-color: #f8f9fa;
    margin-top: 5rem;
    padding: 1rem;
    max-width: 35rem; /*55rem*/ /* Ajusta el ancho máximo según tus necesidades */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 15px 15px 10px #808080; /* Sombra ligera */
    border-radius: 8rem; /* Esquinas redondeadas */
}

.contenedorExpediente {
    background-color: rgba(248, 249, 250, 0.7); /*#f8f9fa;*/
    margin-top: 4rem;
    padding: 3rem;
    box-shadow: 15px 15px 10px #808080; /* Sombra ligera */
    border-radius: 8rem; /* Esquinas redondeadas */
    max-width: 60rem;  /*Ajusta el ancho máximo según tus necesidades */
    margin-right: auto;
    margin-left: auto;
}

    .contenedorExpediente label {
        margin-right: 2rem;
    }


.cartas-header {
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.cartas-cuerpo {
    height: 13rem;
    /*    display: flex;
    flex-direction: column;
    justify-content: center;*/
}

@media (max-width: 770px) {
    .cartas-cuerpo {
        height: auto; /* Altura automática para pantallas más pequeñas */
    }

    .cartas-header {
        font-size: 1rem;
    }
}


.dropdown-item:hover {
    background-color: #343a40; /* Cambia esto al color deseado */
    color: #ffffff; /* Cambia esto al color deseado */
}

.tabla-head {
    background-color: cornsilk; /* Cambia el color de fondo según tus preferencias */
    color: #495057; /* Cambia el color del texto según tus preferencias */
    font-weight: bold; /* Otras propiedades de estilo según sea necesario */
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.estado-pendiente {
    color: red;
}

.estado-revisado {
    color: blue;
}

.estado-verificado {
    color: green;
}


.label-custom-font {
    font-family: 'Footlight MT', sans-serif; /* Cambia 'TuTipoDeFuente' con la fuente que desees usar */
    font-weight: bold; /* Otras propiedades de la fuente que desees aplicar */
    font-size: 1.2rem;
}


fieldset {

    background-color: cornsilk; /* Color de fondo */
}

.img-perfil {
    width: 7rem; /* Ajusta el ancho según sea necesario */
    height: 5rem; /* Ajusta la altura según sea necesario */
    border-radius: 50%; /* Añade un borde redondeado si lo deseas */
    float:right;
}


