@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AplicacionRHGit</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/AplicacionRHGit.styles.css")" asp-append-version="true" />
</head>
<body class="fondoImg">
   
    <div class="container mt-3">
        <main role="main" class="pb-3">
            <div class="container">
                <h1 class="text-center mt-3 tituloInicio">Bienvenido a la plataforma RH</h1>



                <div class="row mt-3">
                    <div class="col-md-6">
                        <form method="post" asp-controller="Login" asp-action="Ingresar">
                            <input type="hidden" name="tipoUsuario" value="Reclutador" />
                            <button type="submit" class="card-link">
                   
                            <div class="card card-hover">

                                    <img src="~/images/reclutamiento.png" class="card-img-bottom img-fluid same-height same-width" />

                                <div class="card-body d-flex flex-column text-center">
                                    <h5 class="card-title">Reclutador</h5>
                                    <p class="card-text">Cuenta para administrar el personal de una institución educativa.</p>
                                    <p class="card-text">Acá puedes reclutar personal para tu institución</p>
                                </div>

                            </div>
                            </button>
                        </form>
                    </div>
     

                    <div class="col-md-6">
                        <form method="post" asp-controller="Login" asp-action="Ingresar">
                            <input type="hidden" name="tipoUsuario" value="Oferente" />
                            <button type="submit" class="card-link">
                            <div class="card card-hover">
                                    <img src="~/images/oferenteinicio.jpg" class="card-img-bottom img-fluid same-height same-width" />
                                <div class="card-body d-flex flex-column text-center">
                                    <h5 class="card-title">Oferente</h5>
                                    <p class="card-text">Cuenta para buscar trabajo en alguna institución educativa.</p>
                                    <p class="card-text">Creación de currículum de forma profesional.</p>
                                </div>
                            </div>
                     
                            </button>
                        </form>
                    </div>
                </div>

               
            </div>
        </main>
    </div>

   

    

</body>
</html>

















